
test/.DS_Store
src/.DS_Store
resources/.DS_Store
.DS_Store
test/__pycache__/__init__.cpython-36.pyc
test/__pycache__/test_text_correction.cpython-36.pyc
test/__pycache__/text_correction.cpython-36.pyc
*.dblite
*.so
*.so
src/word_popularity.os
src/text_correction.os
src/trie_algorithm.os
src/word_rating.os
src/trie.os
src/text_correction.os
src/norvig.os
*.so
src/symspell6.os

src/algorithms/norvig.os
src/algorithms/symspell_adapter.os
src/algorithms/trie.os
src/algorithms/trie_algorithm.os
src/corrector.os
src/dictionary.os
src/english_word_popularity.os
src/norvig.os
src/norvig.os
src/norvig.os
